*{
	padding: 0px;
	margin:0px;
	box-sizing:border-box;
	position:relative

}

p{
	word-wrap: break-word;
}
p.button{
	position:relative;
	right: 10%;
	white-space: nowrap;
	margin-right: 10px;
}
.header{
	background: #ffffff url(back-city.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	display:block;
	height: 330px !important;
	width: cover;
	position: relative;
}

.top{
	width: 100%;
	height:500px;
}

.navbar{
	padding-left: 80%;
	width: 100%;
	height: 60px;
	position:fixed;
	top:0px;
	transition:.5s;
	background-color: #F1F1EF;
	z-index: 100;
	text-align:right;
	background-size: cover;

}
.navbar p{
	
	list-style-type:none;
	margin: 10px;
	padding: 10px 50px;
	color: #000000;
	font-size:14px;
	font-family: sans-serif;
	cursor: pointer;
	border-radius:5px;
	transition: .5s;
	position: relative;
	bottom:5px;
}

.navbar p:hover{
	background-color: rgba(0,0,0, 0.6);
	color:white;
}

.navbar a{
	text-decoration: none;
}

p{
	margin-bottom: 0px;
}

#h1{
	color:#2F4C78;
	font-size:30pt;
	font-weight: lighter;
}

#h5{
	left: 3px;
	padding-top: 10px;
	font-size: 9pt;
	color:rgba(0,0,0,0.45);
}
p.theme{
	font-size:13px;
	line-height:15px;
	font-weight: 700;
}
p.time{
	color:gray;
	font-size: 10pt;
}

.main{
	position:relative;
	width: 96%;
	height: 10000px;
	background:#FFFFFF;
	margin: -20px auto;
	border-radius: 6px;
	box-shadow: 0 1px 24px 2px rgba(0, 0, 0, 0.1), 0 6px 50px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
	z-index: 10;
}


.nav-tabs{
	border-radius: 3px;
	border:0;
	background:#337ab7;
	width: 100%;
	margin-bottom: 30px;
}

.nav-tabs li{
	font-size: 14px;
	margin: 15px 15px;
	
	display:block;
	position:relative;
	box-sizing: border-box;
}

.nav-tabs a{
	color:white;
	background-color:inherit;
	display: inline-block;
	text-decoration: none;
	padding: 3px 10px;
}

.nav-tabs a:hover{
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	transition: all 200ms
}


.table{
	position:relative;
	scroll-behavior: auto;
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	z-index: 11;
}
td{
	padding:0px
}


th{
	text-align: center;
}

.speaker_pic{
	float:left;
	max-width: 35px;
	border-radius: 50%;
	margin-right: 5px;
}

.speaker_box{
	float:left;
	width:100%;
	padding:0;
	clear: left;
	
}
.speaker_box:hover{
	
	transition: all .4s ease-in-out;

}

.cinza{
	background-color: rgb(224, 224, 224);
}
.cinza:hover{
	background-color:  rgb(190, 190, 190);
}

.azul{
	background-color: rgb(112,135,255);
}
.azul:hover{
	background-color: rgb(100, 113, 255);
}
.amarelo{
	background-color: rgb(255,246,117);
}
.amarelo:hover{
	background-color: rgb(235, 226, 97);
}

p.name{
	font-size: 11px;
	line-height: 12px;
	font-weight: 400;
}
p.address{
	font-size: 11px;
	line-height: 12px;
	font-weight: 400;
}
p.occupation{
	font-size: 11px;
	line-height: 12px;
	font-weight: 900;
	margin-bottom: 0;
}

a.speaker_link{
	position:relative;
	top:5px;
	display:block;
	color:black;
}
a.speaker_link:hover{
	transition:.4s;
	background-color: rgb(200, 200, 200);
	color:black
}

.time_theme{
	position:relative;
	float:left;
	top:10px;
	margin-bottom:5px;
}
